
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

$body_background: #fff;
$body_background_back: #fff;
$logo_height: 120px;
$logo_top_height: 5px;
$header_height: 130px;
$main_color: #638a80;
$text_color: #331;
$header_color: #a94442;
$data_record_meta_height: 25px;

/**********************************/
/* Layout */
/**********************************/
#body{
  background: $body_background;
  color: #331;
  font-family: sans-serif;
  font-size: 11pt;
}

#header{
  position: relative;
  min-height: 130px;
}

#logo img {
  height: $logo_height;
  display: inline-block;
}

#logo{
  position: absolute;
  top: $logo_top_height;
  left: 0;
  width:100%;
}
#logo table{
  width:100%;
  border:0;
}
#logo tr{
  height:100%;
}
#logo td:first-child{
  width: 140px;
}
#logo td {
  vertical-align: middle;
  text-align: left;
}
#logo-text {
  font-size: 25px;
  @media(min-width:480px){
    font-size: 30px;
  }
}
#logo-text span {
  color: #8a8a8a;
  font-weight: 600;
  display:inline-block;
  padding-right: 41px;
}

#logo-text span:first-child {
  font-weight: 900;
  color: $main_color;
  padding-right: 10px;
}

#nav {
  padding-top: 91px;
}

#pageContent {
  min-height: 200px;
}

#footer{
  margin:20px 0;
  font-size: 9pt;
  text-align: right;
}

#footer p {
  margin-top: 11px;
}

#footerWrapper{
  color: #4b5a42;
  background: $body_background_back
}
/**********************************/
/* Page Ids */
/**********************************/
#contactUs {
  padding: 10px 0;
  font-size: 20px;
}

#contactUs i {
  display: inline-block;
}

#contactUs .fa:before {
  width: 25px;
  display: inline-block;
}

#home {
  margin-top:20px;
}

#home .carousel-caption {
  left: 0;
  right: 0;
  bottom:0;
  width: 100%;
  padding-bottom: 30px;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 0;
  background: rgba(0, 0, 0, 0.27);
}
#home .carousel-indicators{
  bottom:0;
}

#home .carousel-item-inner{
  width: 100%;
  height: 740px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 50%;
  background-position-x: 50%;
  @media(max-width:1900px){
    height: 540px;
  }
  @media(max-width:1080px){
    height: 390px;

  }

  @media(max-width:768px){
    height: 288px;
  }
  @media(max-width:480px){
    height: 160px;

  }
}
#home .welcome-contact-us{
  display: block;
  padding: 10px;
  width: 200px;
  margin: 20px auto;
  border: 2px solid #e1e1e1;
  font-size: 25px;
  color:white;
}
#home .welcome-contact-us:hover{
  background: #e1e1e1;
  color: #4c9068;
  text-decoration: none;
}
#home .welcome{
  background: #4c9068;
  text-align: center;
  color: white;
  font-size: 40px;
  padding: 70px 0;
  @media(max-width:768px){
    font-size: 30px;
    padding: 40px 0;
  }
  font-family: Superior Title Black,Georgia,serif;
}

#home .welcome-hr{
  width: 80px;
  height: 0;
  display: block;
  margin: 40px auto ;
  @media(max-width:768px){
    margin: 20px auto;
  }
  border: 2px solid #c1c1c1;
}
#home  .section-title{
  text-align: center;
  border: none;
  /* color: #555; */
  font-size: 50px;
}
#home .home-testimony-stories li, #home .home-seremons li{
  width:50%;
  @media(max-width:768px){
    width:100%;
  }
  display:inline-block;
  border:none;
  vertical-align: top;
}

#home .home-events li h3{
  margin:0 0 5px 0;
}
#home .home-events li > div, #home .home-testimony-stories li > div, #home .home-seremons li > div{
  margin: 5px;
  padding: 10px;
}

#home .home-testimony-stories, #home .home-events{
  min-height: 300px;
  padding: 20px 0;
}

#home .home-testimony-stories{
  background: #ffe;
}

#home .home-seremons{
  background: url(/img/home/seremons.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  padding-top: 31px;
  padding-bottom: 20px;
  min-height: 550px;
}
#home .home-seremons li > div{
  margin: 5px;
  padding: 5px 20px;
  background: rgba(73, 76, 73, 0.91);
  color: #fff;
  border-radius: 20px;
}

#home .home-events .data-record-meta{
  position: absolute;
  left: 50%;
}

#home .home-events li{
  border: none;
  display: block;
  width: 100%;
  clear:both;
}

#home .home-events .data-record-meta{
  position: absolute;
  left: 100%;
  font-size: 30px;
  padding: 5px 25px;
  width: 100%;
  margin: -18px;
  top: 50%;

}
#home .home-events li > div{
  position: relative;
  width: 50%;
  float:left;
  background: #d1e1d1;
  border-radius: 10px;
}

#home .home-events li{
  border-right: 2px solid #444;
}

#home .home-events li .data-record-meta .fa{
  display:none;
}

#home .home-events li:nth-child(odd) .data-record-meta{
  text-align:right;
  left: -100%;
  color: #4c788e;
}

#home .home-events li:nth-child(odd) > div{
  left:50%;
  background: #d5dee4;
}

#home .home-events li:nth-child(odd){
  border-right: none;
  border-left: 2px solid #444;
}


/**********************************/
/* Commons */
/**********************************/
.section-title, .data-list a, .data-list-title {
  color: $header_color;
}

h2.section-title{
  border-bottom: 5px solid #cecece;
  padding-bottom: 10px;
}

.data-list{
  padding: 0;
}

.data-list li{
  list-style:none;
  border-bottom: 1px solid $main_color;
}

.data-list-title {
  margin-bottom: 0;
}

.data-list-item-image{
  float:left; width:100px; min-height:100px;
}

.data-list-item-image img{
  width:100%; height:100%;
}

.data-list-item-desc{
  margin-left:110px;
  margin-top:-5px;
}

.data-record-meta{
  margin-bottom: 7px;
  color: $main_color;
  font-size: 9pt;
  height: $data_record_meta_height;
  line-height: $data_record_meta_height;
}

.data-record-meta span {
  display: inline-block;
  min-width: 140px;
}

.data-record-text {
  text-align: justify;
}

.social-share-buttons{
  text-align: right;
  font-size: 13pt;
}

/**********************************/
/* Commons - Bootstrap updated    */
/**********************************/
.pagination li a{
  background: transparent;
  border: none;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus{
  background: transparent;
  border: none;
}

.navbar{
  margin-bottom: 0;
  min-height: 30px;
}

.navbar-collapse{
  padding:0;
}

.navbar-default {
  color: $main_color !important;
  background-color: transparent;
  border: none;
}
.navbar-toggle{
  margin-top:1px;
  margin-bottom:1px;
}
#nav .navbar-default ul.navbar-nav li a, #nav .navbar-default ul.navbar-nav li a:hover, #nav .navbar-default ul.navbar-nav li.active a{

  color: $main_color !important;
  padding: 7px 10px;
  font-weight: 600;
}

#nav .navbar-default ul.navbar-nav li a:hover, #nav .navbar-default ul.navbar-nav li.active a{
  border-bottom: solid 1px #6a9c77;
  background: rgba(94, 162, 183, 0.28);
}
#nav .container-fluid{
  padding-left:0;
  padding-right:0;
}
.navbar-nav{
  margin-left:0;
  margin-right:0;
}
.navbar-brand{
  padding-left: 0;
  font-weight: bold;
  font-size: 16pt;
  padding-right: 18px;
  color: $main_color !important;
}
.clear-both {
  clear: both;
}

body{
  background: $body_background_back;
}

a {
  color:$main_color;
}

/**********************************/
/* Others   */
/**********************************/
.SocialMediaShareButton {
  display: inline-block;
  padding-left: 10px;
  text-align: right;
}


.fa-facebook {
  color: #1862b1;
}
.fa-map-marker, .fa-google{
  color: #b30505;
}
.fa-envelope-o {
  color: #906718;
}
.fa-phone {
  color: #068c08;
}
.fa-twitter{
  color:#1da1f2;
}

